.traffic-lights-main {
    margin-top: 20px;
    width: 50px;
    height: 132px;
    background-color: gray;
    border-radius: 10px;
    border: 1px solid black;
    position: relative;
}

.traffic-lights-light {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border: 1px solid black;
    position: absolute;
}

#red {
    background-color: red;
    top: 10px;
    left: 9px;
}

#yellow {
    background-color: yellow;
    top: 50px;
    left: 9px;
}

#green {
    background-color: green;
    transform: translate(9px, 90px);
}
